<div class="container-fluid pg-section-header bankgothic-light">
    <div class="row">
        <div class="col-offset-3 col-sm-offset-4 col-6 col-sm-4 black-box mx-auto text-center">
            <h4 class="my-2">@Html.Raw(ViewData["TitleContent"])</h4>
        </div>
    </div>
</div>
