<div id="footsection1" class="container-fluid section-block">
    <div class="row py-3">
        <div id="footlinks" class="bankgothic-light offset-md-4 col-sm-4 text-center">
            @Html.ActionLink("Home", "Index", null, new { @class = "text-nowrap text-uppercase" })|
            @Html.ActionLink("Blog", "Updates", null, new { @class = "text-nowrap text-uppercase" })|
            @Html.ActionLink("Contact", "Connect", null, new { @class = "text-nowrap text-uppercase" })|
            <a class="text-nowrap text-uppercase" href="mailto:info@24notion.tv?subject=Media Kit Request&body=Please send me a copy of 24Notion's current media kit.%0D%0A%0D%0AThank you.%0D%0A%0D%0A">Media Kit</a>
        </div>      
        <div id="footsocial" class="col-sm-4">
            <ul class="list-unstyled d-flex flex-wrap justify-content-end">
                <li>
                    <a id="foot_social_twitter" target="_24N_Social" href="https://twitter.com/24notion" class="image-area nohighlight">
                        <img alt="24Notion_Twitter" src="~/Content/images/social/x_a.png">
                    </a>
                </li>
                <li>
                    <a id="foot_social_instagram" target="_24N_Social" href="https://instagram.com/24notion" class="image-area nohighlight">
                        <img alt="24Notion_Instagram" src="~/Content/images/social/instagram_a.png">
                    </a>
                </li>
                <li>
                    <a id="foot_social_linkedin" target="_24N_Social" href="https://www.linkedin.com/companies/24notion" class="image-area nohighlight">
                        <img alt="24Notion_LinkedIn" src="~/Content/images/social/linkedin_a.png">
                    </a>
                </li>
                <li>
                    <a id="foot_social_facebook" target="_24N_Social" href="https://www.facebook.com/24Notion" class="image-area nohighlight">
                        <img alt="24Notion_Facebook" src="~/Content/images/social/facebook_a.png">
                    </a>
                </li>
                <li>
                    <a id="foot_social_youtube" target="_24N_Social" href="https://youtube.com/24notion" class="image-area nohighlight">
                        <img alt="24Notion_Youtube" src="~/Content/images/social/youtube_a.png">
                    </a>
                </li>
                <li>
                    <a id="foot_social_pinterest" target="_24N_Social" href="https://www.pinterest.com/24notion/" class="image-area nohighlight">
                        <img alt="24Notion_Pinterest" src="~/Content/images/social/pinterest_a.png">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="footcopyright" class="row">
        <div class="col-sm-12 text-end" style="margin-right:6px;">
            <div>©@DateTime.Now.Year 24Notion, LLC. All RIGHTS RESERVED. ALL GRAPHICS, DESIGN, LOGO, METHODOLOGIES AND CONTENT ARE TRADEMARK OF 24NOTION, LLC.</div>
        </div>
    </div>
</div>