@{
    ViewBag.Title = "Experiences";
}

<section id="page" class="experiences" data-spy="scroll" data-target="#nav-target">
    @Html.Partial("_PageHeader",
        new ViewDataDictionary
        {
            //{ "TitleHeader", ViewBag.Title },
            { "TitleContent", @"
                <h5>
                    <br><br><br>
                    Our integration of creativity and innovation develops
                    our clients brands and also gives back to the global
                    community.  Our detail-oriented view on the bigger picture
                    is how we know we will continue to grow and
                    continue to help you and your companies grow.
                </h5>
            " },
            { "TitleImageSrc", Url.Content("~/Content/images/header/" + ViewBag.Title.Replace(" ", String.Empty).ToLower() + "_header_a.jpg") }
        })
    <style>
        #nav-target.affix-top {
            visibility: hidden;
            height: 0px;
        }
        #nav-target.affix {
            visibility: visible;
            height: auto;
        }
        #nav-target li {
            margin-top: 5px;
        }
        #nav-target a, #nav-target a:link, #nav-target a:visited {
            background-color: transparent;
            color: #333 !important;
            border: none;
            border-radius: 0px;
            font-size: 1.2em;
        }
        #nav-target a:hover {
            border-right: 1px solid #ff3fb2;
            color: #ff3fb2 !important;
        }
        #nav-target li.active a, #nav-target li.active a:focus, #nav-target li.active a:hover {
            font-weight: bold !important;
            font-size: 1.4em;
            color: #ff3fb2 !important;
        }
    </style>
    <div id="nav-target" class="" style="z-index: 100; left:-5px; top: 90px;">
        <ul class="nav nav-pills nav-stacked ">
            <li><a href="#AdobeHLTH">Example 1</a></li>
            <li><a href="#AdobeHLTH2">Example 2</a></li>
            <li><a href="#features">Not Linked A</a></li>
            <li><a href="#faq">Not Linked B</a></li>
            <li><a href="#contact">Not Linked C</a></li>
        </ul>
    </div>

    <div id="content" class="notosans-medium">
        <div id="experiences_title">
            @Html.Partial("_PageSectionHeader", new ViewDataDictionary() { { "TitleContent", "Experiences" } })
            <!-- Converted by Zamzar PPT to HTML (https://www.zamzar.com/convert/ppt-to-html/#) -->
            <!-- Restructured by DivTable (http://divtable.com/converter/) -->
            <!-- Cleaned by HTML Cleaner (https://html-cleaner.com/)
                    Settings: Remove tag attributes, inline styles, classes & ids, successive &nbsp;, empty tags, span tags, encode spec chars. >> Clean HTML -->
            <!-- Final cleanup by PBRsMaster (http://ntieszen.com) -->

            <div class="container-fluid section-block pg-section-content">
                <div id="AdobeHLTH" style="margin: -100px;"></div>
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-9 col-sm-offset-1 col-sm-10 text-center">
                        <h2>Example 1 - 24Notion and Adobe Digital Experience turn heads in the healthcare market</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-9 col-sm-offset-1 col-sm-4">
                        <h5>The Challenge</h5>
                        <div>Adobe fuels digital transformation for B2B companies by offering unmatched customer experiences via the Adobe Experience Cloud. One of its key vertical offerings, Adobe Digital Experience&rsquo;s Life Sciences solution, had never been formally launched to the healthcare industry.</div><br />
                        <div>The Adobe team needed to build brand awareness in order to build and accelerate its customer pipeline, strengthen current relationships with customers and partners, and create new ones. It was time to make a dramatic entrance into the market.</div><br />
                        <h5>The 24Notion Approach - Creating an immersive experience</h5>
                        <div>24Notion created a plan to launch the Adobe Digital Experience Life Sciences program at HLTH, a leading global healthcare conference focused on health innovation and transformation.</div><br />
                        <div>The agency built a brand messaging framework and crafted a strategy to bring it to life with experiential activations in-person and online, a global social presence, and a showcase for Adobe thought leadership.</div>
                        <ul>
                            <li>24Notion strategized a detailed turnkey plan, from pre-show planning to launch to post-event engagement.</li>
                            <li>The three-day HLTH conference was the coming-out party forAdobe Experience Cloud for Healthcare. 24Notion drove day-of activations in an experiential, fully functional event space that featured a conference room, theater with hourly presentations, and kiosks for invited partners including Microsoft and Change Healthcare to share expertise with conference attendees.</li>
                        </ul>
                    </div>
                    <div class="col-xs-offset-2 col-xs-9 col-sm-offset-0 col-sm-6">
                        <div class="image-area">
                            <img width="1740" height="2842" alt="24Notion/Adobe/HLTH" src="~/Content/images/experiences/casestudy_hlth.png">
                        </div>
                        <h5>The Results:</h5>
                        <div>24Notion&rsquo;s creative and calculated direction enabled Adobe to turn heads at HLTH.</div><br />
                        <div>During the conference, more than 8,000 attendees visited Adobe&rsquo;s interactive environment. Adobe conducted 200 individual customer meetings and closed 50 deals on-site.</div><br />
                        <div>The launch of Adobe Life Sciences won the Hermes Creative Award for Experiential 360 High-Touch Multi-Touch Campaign and Engagement.</div><br />
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="text-center">
                                    <h3>5M</h3>
                                    <div>Social media</div>
                                    <div>impressions within</div>
                                    <div>2-days</div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="text-center">
                                    <h3>2,607</h3>
                                    <div>Registrants from</div>
                                    <div>1,505 different</div>
                                    <div>organizations</div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="text-center">
                                    <h3>200</h3>
                                    <div>Individual customer</div>
                                    <div>meetings - with 50</div>
                                    <div>closed deals</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="AdobeHLTH2" style="margin: -100px;"></div>
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-9 col-sm-offset-1 col-sm-10 text-center">
                        <h2>Example 2 - 24Notion and Adobe Digital Experience turn heads in the healthcare market</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-9 col-sm-offset-1 col-sm-4">
                        <h5>The Challenge</h5>
                        <div>Adobe fuels digital transformation for B2B companies by offering unmatched customer experiences via the Adobe Experience Cloud. One of its key vertical offerings, Adobe Digital Experience&rsquo;s Life Sciences solution, had never been formally launched to the healthcare industry.</div><br />
                        <div>The Adobe team needed to build brand awareness in order to build and accelerate its customer pipeline, strengthen current relationships with customers and partners, and create new ones. It was time to make a dramatic entrance into the market.</div><br />
                        <h5>The 24Notion Approach - Creating an immersive experience</h5>
                        <div>24Notion created a plan to launch the Adobe Digital Experience Life Sciences program at HLTH, a leading global healthcare conference focused on health innovation and transformation.</div><br />
                        <div>The agency built a brand messaging framework and crafted a strategy to bring it to life with experiential activations in-person and online, a global social presence, and a showcase for Adobe thought leadership.</div>
                        <ul>
                            <li>24Notion strategized a detailed turnkey plan, from pre-show planning to launch to post-event engagement.</li>
                            <li>The three-day HLTH conference was the coming-out party forAdobe Experience Cloud for Healthcare. 24Notion drove day-of activations in an experiential, fully functional event space that featured a conference room, theater with hourly presentations, and kiosks for invited partners including Microsoft and Change Healthcare to share expertise with conference attendees.</li>
                        </ul>
                    </div>
                    <div class="col-xs-offset-2 col-xs-9 col-sm-offset-0 col-sm-6">
                        <div class="image-area">
                            <img width="1740" height="2842" alt="24Notion/Adobe/HLTH" src="~/Content/images/experiences/casestudy_hlth.png">
                        </div>
                        <h5>The Results:</h5>
                        <div>24Notion&rsquo;s creative and calculated direction enabled Adobe to turn heads at HLTH.</div><br />
                        <div>During the conference, more than 8,000 attendees visited Adobe&rsquo;s interactive environment. Adobe conducted 200 individual customer meetings and closed 50 deals on-site.</div><br />
                        <div>The launch of Adobe Life Sciences won the Hermes Creative Award for Experiential 360 High-Touch Multi-Touch Campaign and Engagement.</div><br />
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="text-center">
                                    <h3>5M</h3>
                                    <div>Social media</div>
                                    <div>impressions within</div>
                                    <div>2-days</div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="text-center">
                                    <h3>2,607</h3>
                                    <div>Registrants from</div>
                                    <div>1,505 different</div>
                                    <div>organizations</div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="text-center">
                                    <h3>200</h3>
                                    <div>Individual customer</div>
                                    <div>meetings - with 50</div>
                                    <div>closed deals</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_PageFooter")
</section>
<script>
    $(function () {
        $('body').scrollspy({ target: '#nav-target' });
        $('#nav-target').affix({
            offset: {
                top: ($('#page .page-head').height() - 75)
            }
        });
        $('#nav-target').on('affix.bs.affix', function () {
            $('li', this).removeClass('active');
            $('li:first', this).addClass('active');
            $(this).off("affix.bs.affix");
        });
    });
</script>