@{
    ViewBag.Title = "Experiences";
}

<section id="page" class="experiences">

    @Html.Partial("_PageHeader",
        new ViewDataDictionary
        {
            //{ "TitleHeader", ViewBag.Title },
            { "TitleContent", @"
                <h5>
                    <br><br><br>
                    Our integration of creativity and innovation develops
                    our clients brands and also gives back to the global
                    community.  Our detail-oriented view on the bigger picture
                    is how we know we will continue to grow and
                    continue to help you and your companies grow.
                </h5>
            " },
            { "TitleImageSrc", Url.Content("~/Content/images/header/" + ViewBag.Title.Replace(" ", String.Empty).ToLower() + "_header_a.jpg") }
        })
    <script>
        $(function () {
            $('#carousel-example-generic').on('slide.bs.carousel', (e) => {
                var $e = $(e.relatedTarget);
                var idx = $e.index();
                $('#carousel-nav > li').removeClass('active');
                $('#carousel-nav > li[data-slide-to="' + idx + '"]').addClass('active')
                $('#carousel-example-generic video').trigger('pause');
            })
        });
    </script>

    <div id="content" class="notosans-medium">
        <div>
            @Html.Partial("_PageSectionHeader", new ViewDataDictionary() { { "TitleContent", "Experiences" } })

            <!-- Converted by Zamzar PPT to HTML (https://www.zamzar.com/convert/ppt-to-html/#) -->
            <!-- Restructured by DivTable (http://divtable.com/converter/) -->
            <!-- Cleaned by HTML Cleaner (https://html-cleaner.com/)
                Settings: Remove tag attributes, inline styles, classes & ids, successive &nbsp;s, empty tags, span tags, encode spec chars. >> Clean HTML -->
            <!-- Final cleanup by PBRsMaster (http://ntieszen.com) -->
            <!-- Navigation -->
            <div class="container-fluid bankgothic-light">
                <div class="row">
                    <div class="col-xs-12 col-md-offset-2 col-md-8 text-center">
                        <ul id="carousel-nav" class="nav nav-pills nav-justified">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active">
                                <a href="#">Experiential <wbr />Event</a>
                            </li>
                            <li data-target="#carousel-example-generic" data-slide-to="1">
                                <a href="#">Integrated <wbr />Marketing</a>
                            </li>
                            <li data-target="#carousel-example-generic" data-slide-to="2">
                                <a href="#">Trifecta <wbr />campaign</a>
                            </li>
                            <li data-target="#carousel-example-generic" data-slide-to="3">
                                <a href="#">Virtual <wbr />Program</a>
                            </li>
                            <li data-target="#carousel-example-generic" data-slide-to="4">
                                <a href="#">Sports <wbr />Entertainment</a>
                            </li>
                            <li data-target="#carousel-example-generic" data-slide-to="5">
                                <a href="#">Executive Summit <wbr />Industry Roadshow</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-offset-2 col-xs-9 col-sm-offset-1 col-sm-10 text-center">
                                    <h2>Adobe Summit and Microsoft VIP Experiential engagement</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-offset-2 col-xs-8">
                                    <video controls preload="auto"
                                           controlsList="nodownload"
                                           poster="~/Content/images/experiences/24Notion_CaseStudy_Teaser_1280_tbr.jpg"
                                           style="width: 100%;">
                                        <source src="~/Content/videos/experiences/24Notion_CaseStudy_Teaser_1280_tbr.webm" type="video/webm" />
                                        Video tag is not supported in this browser.
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-offset-2 col-xs-9 col-sm-offset-1 col-sm-10 text-center">
                                    <h2>Healthcare and Lifesciences: Adobe/Microsoft/Change Healthcare</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-offset-2 col-xs-8 col-sm-offset-1 col-sm-4">
                                    <div>24Notion strategized a detailed turnkey plan, from pre-show planning to launch to post-event engagement by creating an immersive 360 experience</div><br />
                                    <div>During the conference, more than 8,000 attendees visited Adobe’s interactive environment.</div><br />
                                    <div>The launch of Adobe Life Sciences won the Hermes Creative Award for Experiential 360 High-Touch Multi-Touch Campaign and Engagement.</div><br />
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="text-center">
                                                <h3>5M</h3>
                                                <div>Social media</div>
                                                <div>impressions within</div>
                                                <div>2-days</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="text-center">
                                                <h3>2,607</h3>
                                                <div>Registrants from</div>
                                                <div>1,505 different</div>
                                                <div>organizations</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="text-center">
                                                <h3>200</h3>
                                                <div>Individual customer</div>
                                                <div>meetings - with 50</div>
                                                <div>closed deals</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="text-center">
                                                <h3>3.75M</h3>
                                                <div>Digital Brand</div>
                                                <div>amplification</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-6">
                                    <div class="image-area">
                                        <img style="width: 100%;" alt="24Notion/Adobe/HLTH" src="~/Content/images/experiences/casestudy_healthcare.jpg">
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-offset-2 col-xs-9 col-sm-offset-1 col-sm-10 text-center">
                                    <h2>Trifecta Campaign for VIP curated and personalized engagement</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-offset-2 col-xs-8 col-sm-offset-1 col-sm-4">
                                    <div>24Notion worked with client on reimagine custom VIP engagement - a few but not limited: cooking Virtual events and social gathers for the era of lockdowns and remote work</div><br />
                                    <div>Cook along experience: Michelin Star Experience with Michale Mina, Rick Bayless.</div><br />
                                    <div>VIP "wellness" experience.</div><br />
                                    <div>VIP "May the fourth be with you" experience: Disney VIP experiential dinner and custom engagement.</div><br />
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="text-center">
                                                <h3>95-100</h3>
                                                <div>Of invitees joined</div>
                                                <div>the virtual events</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="text-center">
                                                <h3>15-74</h3>
                                                <div>Accounts closed</div>
                                                <div>with key customers</div>
                                                <div>who attended</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="text-center">
                                                <h3>1300</h3>
                                                <div>Accessed video on</div>
                                                <div>demand after the</div>
                                                <div>events</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="text-center">
                                                <h3>150K</h3>
                                                <div>Digital Brand</div>
                                                <div>amplification during</div>
                                                <div>couple hours</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-6">
                                    <div class="image-area">
                                        <img style="width: 100%;" alt="24Notion/Adobe/HLTH" src="~/Content/images/experiences/casestudy_trifecta.jpg">
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-offset-2 col-xs-9 col-sm-offset-1 col-sm-10 text-center">
                                    <h2>Sephora Beauty Virtual Personalization</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-offset-2 col-xs-8">
                                    <video controls preload="auto"
                                           controlsList="nodownload"
                                           poster="~/Content/images/experiences/Sephora_Master_FINAL_HQ_v5_1280_tbr.jpg"
                                           style="width: 100%;">
                                        <source src="~/Content/videos/experiences/Sephora_Master_FINAL_HQ_v5_1280_tbr.webm" type="video/webm" />
                                        Video tag is not supported in this browser.
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-offset-2 col-xs-9 col-sm-offset-1 col-sm-10 text-center">
                                    <h2>PGA Experience with Justin Rose</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-offset-2 col-xs-8">
                                    <video controls preload="auto"
                                           controlsList="nodownload"
                                           poster="~/Content/images/experiences/JustinRose_CaseStudy_HighLight_Final_HQ_1280_tbr.jpg"
                                           style="width: 100%;">
                                        <source src="~/Content/videos/experiences/JustinRose_CaseStudy_HighLight_Final_HQ_1280_tbr.webm" type="video/webm" />
                                        Video tag is not supported in this browser.
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-offset-2 col-xs-9 col-sm-offset-1 col-sm-10 text-center">
                                    <h2>Oracle Data/AI and CHRO Thought Leaderships and Experiential</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-offset-2 col-xs-8">
                                    <video controls preload="auto"
                                           controlsList="nodownload"
                                           poster="~/Content/images/experiences/Oracle_CaseStudy_v2_HQ_1280_tbr.jpg"
                                           style="width: 100%;">
                                        <source src="~/Content/videos/experiences/Oracle_CaseStudy_v2_HQ_1280_tbr.webm" type="video/webm" />
                                        Video tag is not supported in this browser.
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#" role="button" data-target="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#" role="button" data-target="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div style="margin-bottom: 5vw;"></div>
        </div>
    </div>
    @Html.Partial("_PageFooter")
</section>