@{
    ViewBag.Title = "Experiences";
}

<section id="page" class="experiences">

    @Html.Partial("_PageHeader",
        new ViewDataDictionary
        {
            //{ "TitleHeader", ViewBag.Title },
            { "TitleContent", @"
                <h5>
                    <br><br><br>
                    Our integration of creativity and innovation develops
                    our clients brands and also gives back to the global
                    community.  Our detail-oriented view on the bigger picture
                    is how we know we will continue to grow and
                    continue to help you and your companies grow.
                </h5>
            " },
            { "TitleImageSrc", Url.Content("~/Content/images/header/" + ViewBag.Title.Replace(" ", String.Empty).ToLower() + "_header_a.jpg") }
        })
    <style type="text/css">
        #carousel-nav.nav > li > a:focus {
            background-color: initial;
        }
        #carousel-nav.nav-pills > li > a {
            border-radius: unset;
        }
        @@media only screen and (min-width:768px) {
            #carousel-nav.nav > li {
                padding-right: 12px;
            }
            #carousel-nav.nav-pills > li > a {
                word-break: break-word;
                word-spacing: 50000px;
            }
        }
    </style>

    <div id="content" class="notosans-medium">
        <div>
            @Html.Partial("_PageSectionHeader", new ViewDataDictionary() { { "TitleContent", "Experiences" } })

            <!-- Converted by Zamzar PPT to HTML (https://www.zamzar.com/convert/ppt-to-html/#) -->
            <!-- Restructured by DivTable (http://divtable.com/converter/) -->
            <!-- Cleaned by HTML Cleaner (https://html-cleaner.com/)
                Settings: Remove tag attributes, inline styles, classes & ids, successive &nbsp;s, empty tags, span tags, encode spec chars. >> Clean HTML -->
            <!-- Final cleanup by PBRsMaster (http://ntieszen.com) -->
            <!-- Navigation -->
            <div class="container-fluid bankgothic-light">
                <div class="row">
                    <div class="col-xs-offset-3 col-xs-6">
                        <ul id="carousel-nav" class="nav nav-pills nav-justified">
                            <li data-target="#carousel-example-generic" data-slide-to="0">
                                <a href="#">Experiential <wbr />Event</a>
                            </li>
                            <li data-target="#carousel-example-generic" data-slide-to="1">
                                <a href="#">Integrated <wbr />Marketing</a>
                            </li>
                            <li data-target="#carousel-example-generic" data-slide-to="2">
                                <a href="#">Trifecta <wbr />campaign</a>
                            </li>
                            <li data-target="#carousel-example-generic" data-slide-to="3">
                                <a href="#">Virtual <wbr />Program</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-offset-2 col-xs-9 col-sm-offset-1 col-sm-10 text-center">
                                    <h2>Adobe Summit and Microsoft VIP Experiential engagement</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-offset-2 col-xs-8">
                                    <video controls preload="auto"
                                           controlsList="nodownload"
                                           @*poster="~/Content/images/home/video_lasvegas-arial.jpg"*@
                                           style="width: 100%;">
                                        <source src="~/Content/videos/experiences/24Notion_CaseStudy_Teaser.mp4" type="video/mp4" />
                                        Video tag is not supported in this browser.
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-offset-2 col-xs-9 col-sm-offset-1 col-sm-10 text-center">
                                    <h2>Healthcare and Lifesciences: Adobe/Microsoft/Change Healthcare</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-offset-2 col-xs-8 col-sm-offset-1 col-sm-4">
                                    <div>24Notion strategized a detailed turnkey plan, from pre-show planning to launch to post-event engagement by creating an immersive 360 experience</div><br />
                                    <div>During the conference, more than 8,000 attendees visited Adobe’s interactive environment.</div><br />
                                    <div>The launch of Adobe Life Sciences won the Hermes Creative Award for Experiential 360 High-Touch Multi-Touch Campaign and Engagement.</div><br />
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="text-center">
                                                <h3>5M</h3>
                                                <div>Social media</div>
                                                <div>impressions within</div>
                                                <div>2-days</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="text-center">
                                                <h3>2,607</h3>
                                                <div>Registrants from</div>
                                                <div>1,505 different</div>
                                                <div>organizations</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="text-center">
                                                <h3>200</h3>
                                                <div>Individual customer</div>
                                                <div>meetings - with 50</div>
                                                <div>closed deals</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="text-center">
                                                <h3>3.75M</h3>
                                                <div>Digital Brand</div>
                                                <div>amplification</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-6">
                                    <div class="image-area">
                                        <img style="width: 100%;" alt="24Notion/Adobe/HLTH" src="~/Content/images/experiences/casestudy_healthcare.jpg">
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-offset-2 col-xs-9 col-sm-offset-1 col-sm-10 text-center">
                                    <h2>Trifecta Campaign for VIP curated and personalized engagement</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-offset-2 col-xs-8">WORK IN PROGRESS</div>
                                <div class="col-xs-offset-2 col-xs-8 col-sm-offset-1 col-sm-4">
                                    <h5>The Challenge</h5>
                                    <div>Adobe fuels digital transformation for B2B companies by offering unmatched customer experiences via the Adobe Experience Cloud. One of its key vertical offerings, Adobe Digital Experience&rsquo;s Life Sciences solution, had never been formally launched to the healthcare industry.</div><br />
                                    <div>The Adobe team needed to build brand awareness in order to build and accelerate its customer pipeline, strengthen current relationships with customers and partners, and create new ones. It was time to make a dramatic entrance into the market.</div><br />
                                    <h5>The 24Notion Approach - Creating an immersive experience</h5>
                                    <div>24Notion created a plan to launch the Adobe Digital Experience Life Sciences program at HLTH, a leading global healthcare conference focused on health innovation and transformation.</div><br />
                                    <div>The agency built a brand messaging framework and crafted a strategy to bring it to life with experiential activations in-person and online, a global social presence, and a showcase for Adobe thought leadership.</div>
                                    <ul>
                                        <li>24Notion strategized a detailed turnkey plan, from pre-show planning to launch to post-event engagement.</li>
                                        <li>The three-day HLTH conference was the coming-out party forAdobe Experience Cloud for Healthcare. 24Notion drove day-of activations in an experiential, fully functional event space that featured a conference room, theater with hourly presentations, and kiosks for invited partners including Microsoft and Change Healthcare to share expertise with conference attendees.</li>
                                    </ul>
                                </div>
                                <div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-6">
                                    <div class="image-area">
                                        <img width="100%" alt="24Notion/Adobe/HLTH" src="~/Content/images/experiences/casestudy_hlth.png">
                                    </div>
                                    <h5>The Results:</h5>
                                    <div>24Notion&rsquo;s creative and calculated direction enabled Adobe to turn heads at HLTH.</div><br />
                                    <div>During the conference, more than 8,000 attendees visited Adobe&rsquo;s interactive environment. Adobe conducted 200 individual customer meetings and closed 50 deals on-site.</div><br />
                                    <div>The launch of Adobe Life Sciences won the Hermes Creative Award for Experiential 360 High-Touch Multi-Touch Campaign and Engagement.</div><br />
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="text-center">
                                                <h3>5M</h3>
                                                <div>Social media</div>
                                                <div>impressions within</div>
                                                <div>2-days</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="text-center">
                                                <h3>2,607</h3>
                                                <div>Registrants from</div>
                                                <div>1,505 different</div>
                                                <div>organizations</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="text-center">
                                                <h3>200</h3>
                                                <div>Individual customer</div>
                                                <div>meetings - with 50</div>
                                                <div>closed deals</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-offset-2 col-xs-9 col-sm-offset-1 col-sm-10 text-center">
                                    <h2>Sephora Beauty Virtual Personalization</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-offset-2 col-xs-8">
                                    <video controls preload="auto"
                                           controlsList="nodownload"
                                           @*poster="~/Content/images/home/video_lasvegas-arial.jpg"*@
                                           style="width: 100%;">
                                        <source src="~/Content/videos/experiences/Sephora_Master_FINAL_HQ_v5.mp4" type="video/mp4" />
                                        Video tag is not supported in this browser.
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#" role="button" data-target="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#" role="button" data-target="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    @Html.Partial("_PageFooter")
</section>