@{
    ViewBag.Title = "Holiday";
}

<section id="page" class="holiday">
    @Html.Partial("_PageHeader",
        new ViewDataDictionary
        {
            { "TitleHeader", @"
                <h1>Happy Holidays</h1>
            " },
            { "TitleContent", @"
                <h5 class=""rotate345 text-left"" style=""opacity: 0.9; padding:1.4vw; background-color: black; margin: 10vw 5.2vw;"">
				    The holiday season is for making an impact.<br />
				    24Notion is all about impact driven engagement<br />
				    anytime of the year. In 2024, we achieved:<br />
				    > 9,242 engagement & activation in 2024<br />
				    > 1,890,342,000 impressions<br />
				    > Top 14 ranking in Corporate Social responsibility
                </h5>
            " },
            { "TitleImageSrc", Url.Content("~/Content/images/header/" + ViewBag.Title.Replace(" ", String.Empty).ToLower() + "_header_a.jpg") }
        })
    
    <div id="content" class="notosans-medium">
        <div id="holiday_thankyou">
            <div class="container-fluid section-block pg-section-content">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <br />
                        We have had a very busy 2024! We crafted 2800+ campaigns that
                        drove significant impact, engagement and activations. We also
                        launched 619+ products and services, 1728+ event-based
                        experiential activations, 839 thought leadership engagements, and
                        garnered 637 million+ views/impressions per month. Lastly, we
                        achieved an impressive 350% return on investment (for our clients
                        *wink*)
                        <br /><br />
                        24Notion is giving back to the local community as well as
                        supporting global communities – and this work landed us the #14
                        ranking in Corporate Social Responsibility (CSR) – Philanthropy by
                        the Business Journal. We are so grateful for all of the
                        great work that 24Notion has been a part of in 2024.
                        <br /><br />
                        Happy holidays to you and your loved ones from 24Notion!
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_PageFooter")
</section>
