@{
    ViewBag.Title = "#24NotionTheCatalyst";
}
<section id="page" class="home">
    @Html.Partial("_PageHeader",
        new ViewDataDictionary
        {
            { "TitleHeader",  @"<h2>" + @ViewBag.Title + "</h2>"},
            //{ "TitleContent", @ViewBag.Title },
            { "TitleImageSrc", Url.Content("~/Content/images/home/1_catalyst_a.jpg") }
        })

    @*<div id="homesection1" class="page-head section-block">
        <div class="image-area">
            <img width="1920" height="1080" alt="24Notion" src="/Content/images/home/1_catalyst_a.jpg">
        </div>
        <div class="container-fluid content-area">
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6 col-xs-12 title bankgothic-light" style="margin-top: 25%;text-align: center;">
                    <h2 class="text-center">@ViewBag.Title</h2>
                    <br />
                    <div class="text-right sectionnav">
                        <a href="#homesection2" class="nohighlight" style="display: block; width: 100%;">
                            <img class="arrow-down" width="38" height="38" alt="next" src="~/Content/images/arrowdown.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

    <div id="homesection2" class="section-block">
        <div class="image-area">
            <img width="1920" height="1080" alt="24Notion" src="~/Content/images/home/2_redefine_a.jpg">
        </div>
        <div class="container-fluid content-area">
            <div class="row">
                <div class="col-xs-8 col-sm-6 text-right">
                    <div class="title bankgothic-light"><h3><strong>REDEFINE//</strong></h3></div>
                    <div class="details white-text-shadow notosans-medium">
                        <h5>
                            7,353,355 Digital Impressions<br />
                            150% ROI in Integrated Marketing<br />
                            8,755,233 Impacted<br />
                            #24NotionTheCatalyst<br />
                        </h5>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-6 sectionnav text-right">
                    <a href="#homesection3" class="nohighlight">
                        <img class="arrow-down" width="38" height="38" alt="next" src="~/Content/images/arrowdown.png">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="homesection3" class="section-block">
        <div class="image-area">
            <img width="1920" height="1080" alt="24Notion" src="~/Content/images/home/3_reengage_a.jpg">
        </div>
        <div class="container-fluid content-area">
            <div class="row">
                <div class="col-xs-8 col-sm-6 text-right">
                    <div class="title bankgothic-light"><h3><strong>REENGAGE//</strong></h3></div>
                    <div class="details white-text-shadow notosans-medium">
                        <h5>
                            Thought Leadership Touch Points<br />
                            Mass Market Brand Disruption<br />
                            180% Return on Investment<br />
                            #ADOBE<br />
                        </h5>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-6 sectionnav text-right">
                    <a href="#homesection4" class="nohighlight">
                        <img class="arrow-down" width="38" height="38" alt="next" src="~/Content/images/arrowdown.png">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="homesection4" class="section-block">
        <div class="image-area">
            <img width="1920" height="1080" alt="24Notion" src="~/Content/images/home/4_relaunch_a.jpg">
        </div>
        <div class="container-fluid content-area">
            <div class="row">
                <div class="col-xs-8 col-sm-6 text-right">
                    <div class="title bankgothic-light"><h3><strong>RELAUNCH//</strong></h3></div>
                    <div class="details white-text-shadow notosans-medium">
                        <h5>
                            5M+ Digital Impressions<br />
                            140%+ Integrated Marketing<br />
                            Creative/Technology/Social<br />
                            #DALEYMUSIC<br />
                        </h5>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-6 sectionnav text-right">
                    <a href="#homesection5" class="nohighlight">
                        <img class="arrow-down" width="38" height="38" alt="next" src="~/Content/images/arrowdown.png">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="homesection5" class="section-block">
        <div class="image-area">
            <img width="1920" height="1080" alt="24Notion" src="~/Content/images/home/5_recreate_a.jpg">
        </div>
        <div class="container-fluid content-area">
            <div class="row">
                <div class="col-xs-8 col-sm-6 text-right">
                    <div class="title bankgothic-light"><h3><strong>RECREATE//</strong></h3></div>
                    <div class="details white-text-shadow notosans-medium">
                        <h5>
                            115%+ Social Trending<br />
                            145% Attendance & Participation<br />
                            Brand/Media/Social/Experiential<br />
                            Tech Awards<br />
                        </h5>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-6 sectionnav text-right">
                    <a href="#homesection6" class="nohighlight">
                        <img class="arrow-down" width="38" height="38" alt="next" src="~/Content/images/arrowdown.png">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="homesection6" class="section-block">
        <div class="image-area">
            <img width="1920" height="1080" alt="24Notion" src="~/Content/images/home/6_renew_a.jpg">
        </div>
        <div class="container-fluid content-area">
            <div class="row">
                <div class="col-xs-8 col-sm-6 text-right">
                    <div class="title bankgothic-light"><h3><strong>RENEW//</strong></h3></div>
                    <div class="details white-text-shadow notosans-medium">
                        <h5>
                            Experiential Product Launches at<br />
                            66th Emmy Awards with VIPs +<br />
                            Influentials + Celebrities<br />
                            #B4GIVES<br />
                        </h5>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-6 sectionnav text-right"></div>
            </div>
        </div>
    </div>
</section>