@{
    ViewBag.Title = "#24NotionTheCatalyst";
}
<section id="page" class="home">
    @Html.Partial("_PageHeader",
        new ViewDataDictionary
        {
            { "TitleHeader",  @"<h2>" + @ViewBag.Title + "</h2>"},
            //{ "TitleContent", @ViewBag.Title },
            { "TitleImageSrc", Url.Content("~/Content/images/home/_catalyst_a.jpg") }
        })

    <div id="_video-teaser" class="section-block">
        <div class="image-area">
            <video controls preload="auto"
                   controlsList="nodownload"
                   poster="~/Content/images/home/video_lasvegas_arial.jpg"
                   style="width: 100%;">
                <source src="~/Content/videos/home/Teaser_Highlight_HQ_1280_tbr.webm" type="video/mp4" />
                Video tag is not supported in this browser.
            </video>
        </div>
        <div class="container-fluid content-area">
            <div class="row">
                <br />
                <div class="col-xs-8 col-sm-6 text-right">
                </div>
                <div class="col-xs-4 col-sm-6 sectionnav text-right" style="margin-right: 15px; z-index: 2;">
                    <div class="sectionnav">
                        <a href="#_redefine" class="nohighlight">
                            <img class="arrow-down" width="38" height="38" alt="next" src="~/Content/images/arrowdown.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="_redefine" class="section-block">
        <div class="image-area">
            <img width="1920" height="1080" alt="24Notion" src="~/Content/images/home/_redefine_a.jpg">
        </div>
        <div class="container-fluid content-area">
            <div class="row">
                <div class="col-xs-8 col-sm-6 text-right">
                    <div class="title bankgothic-light"><h3><strong>REDEFINE//</strong></h3></div>
                    <div class="details white-text-shadow notosans-medium">
                        <h5>
                            7,353,355 Digital Impressions<br />
                            150% ROI in Integrated Marketing<br />
                            8,755,233 Impacted<br />
                            #24NotionTheCatalyst<br />
                        </h5>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-6 sectionnav text-right">
                    <a href="#_reengage" class="nohighlight">
                        <img class="arrow-down" width="38" height="38" alt="next" src="~/Content/images/arrowdown.png">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="_reengage" class="section-block">
        <div class="image-area">
            <img width="1920" height="1080" alt="24Notion" src="~/Content/images/home/_reengage_a.jpg">
        </div>
        <div class="container-fluid content-area">
            <div class="row">
                <div class="col-xs-8 col-sm-6 text-right">
                    <div class="title bankgothic-light"><h3><strong>REENGAGE//</strong></h3></div>
                    <div class="details white-text-shadow notosans-medium">
                        <h5>
                            Thought Leadership Touch Points<br />
                            Mass Market Brand Disruption<br />
                            180% Return on Investment<br />
                            #ADOBE<br />
                        </h5>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-6 sectionnav text-right">
                    <a href="#_video-nrf" class="nohighlight">
                        <img class="arrow-down" width="38" height="38" alt="next" src="~/Content/images/arrowdown.png">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="_video-nrf" class="section-block">
        <div class="image-area">
            <video controls preload="auto"
                   controlsList="nodownload">
                <source src="~/Content/videos/home/24Notion_NRFv4_1215_tbr.webm" type="video/mp4" />
                Video tag is not supported in this browser.
            </video>
        </div>
        <div class="container-fluid content-area">
            <div class="row">
                <br />
                <div class="col-xs-8 col-sm-6 text-right">
                </div>
                <div class="col-xs-4 col-sm-6 sectionnav text-right" style="margin-right: 15px; z-index: 2;">
                    <div class="sectionnav">
                        <a href="#_relaunch" class="nohighlight">
                            <img class="arrow-down" width="38" height="38" alt="next" src="~/Content/images/arrowdown.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="_relaunch" class="section-block">
        <div class="image-area">
            <img width="1920" height="1080" alt="24Notion" src="~/Content/images/home/_relaunch_a.jpg">
        </div>
        <div class="container-fluid content-area">
            <div class="row">
                <div class="col-xs-8 col-sm-6 text-right">
                    <div class="title bankgothic-light"><h3><strong>RELAUNCH//</strong></h3></div>
                    <div class="details white-text-shadow notosans-medium">
                        <h5>
                            5M+ Digital Impressions<br />
                            140%+ Integrated Marketing<br />
                            Creative/Technology/Social<br />
                            #DALEYMUSIC<br />
                        </h5>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-6 sectionnav text-right">
                    <a href="#_recreate" class="nohighlight">
                        <img class="arrow-down" width="38" height="38" alt="next" src="~/Content/images/arrowdown.png">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="_recreate" class="section-block">
        <div class="image-area">
            <img width="1920" height="1080" alt="24Notion" src="~/Content/images/home/_recreate_a.jpg">
        </div>
        <div class="container-fluid content-area">
            <div class="row">
                <div class="col-xs-8 col-sm-6 text-right">
                    <div class="title bankgothic-light"><h3><strong>RECREATE//</strong></h3></div>
                    <div class="details white-text-shadow notosans-medium">
                        <h5>
                            115%+ Social Trending<br />
                            145% Attendance & Participation<br />
                            Brand/Media/Social/Experiential<br />
                            Tech Awards<br />
                        </h5>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-6 sectionnav text-right">
                    <a href="#_renew" class="nohighlight">
                        <img class="arrow-down" width="38" height="38" alt="next" src="~/Content/images/arrowdown.png">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="_renew" class="section-block">
        <div class="image-area">
            <img width="1920" height="1080" alt="24Notion" src="~/Content/images/home/_renew_a.jpg">
        </div>
        <div class="container-fluid content-area">
            <div class="row">
                <div class="col-xs-8 col-sm-6 text-right">
                    <div class="title bankgothic-light"><h3><strong>RENEW//</strong></h3></div>
                    <div class="details white-text-shadow notosans-medium">
                        <h5>
                            Experiential Product Launches at<br />
                            66th Emmy Awards with VIPs +<br />
                            Influentials + Celebrities<br />
                            #B4GIVES<br />
                        </h5>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-6 sectionnav text-right"></div>
            </div>
        </div>
    </div>
</section>