@{
    ViewBag.Title = "VIP";
}

<section id="page" class="vip">
    @Html.Partial("_PageHeader",
        new ViewDataDictionary
        {
            //{ "TitleHeader", ViewBag.Title },
            { "TitleContent", @"
                <h6>
                    At 24Notion, you’ve truly been the best part of our year.
                    <br /><br />We’re deeply grateful for our valued customers. In a time of constant change and unexpected events — you’ve been our support and inspiration.
                    <br /><br />We want to show our appreciation by sending you a surprise for the holidays. A good surprise, we promise!
                    <br /><br />Enter your mailing address below and we’ll ship it right to your front door.
                    <p style='font-size: 64%; color: inherit'>(And don’t worry, your mailing information will stay confidential – we just want to send you some  
                        holiday cheer.)</p>
                </h6>
            " },
            { "TitleImageSrc", Url.Content("~/Content/images/header/" + ViewBag.Title.Replace(" ", String.Empty).ToLower() + "_header_a.jpg") }
    })

    <div id="content" class="notosans-medium">
        <div id="vip_title">
            @Html.Partial("_PageSectionHeader", new ViewDataDictionary() { { "TitleContent", "thank you" } })
            <div class="container-fluid pg-section-content">
                <div class="row">
                    <div class="col-md-offset-0">
                        <p class="jotform">
                            <iframe id="jotformiframe" style="min-width: 100%; border:none;"
                                    title="(2021) 24notion.tv Holiday VIP"
                                    src="https://form.jotform.com/223156332634148"
                                    allowtransparency="true" allowfullscreen="true" frameborder="0" scrolling="no"
                                    allow="geolocation; microphone; camera"></iframe>
                        </p>
                    </div>
                </div>
                <div class="row hide">
                    <div class="col-md-offset-2 text-left" style="padding: 20px 12px 0 20px;">
                        <p style="line-height: inherit;">
                            Please note: If you live in
                            <em>Utah, Oklahoma, Alabama, Indiana, New Jersey, New Hampshire, West Virginia, Mississippi, or Kentucky, </em>
                            state regulations prevent us from shipping you these estate samplers. Instead, you will receive an amazing
                            non-alcoholic gift pack that includes locally made Willamette Valley oils, vinaigrettes, and jams to add
                            something special to your home-cooked meals.
                        </p>
                        <br />
                        <h3><strong>Happy holidays to you and your loved ones from 24Notion!</strong></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_PageFooter")
</section>